<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Login</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<h1>New user register</h1>

<form method="post" th:object="${registerForm}">
    <div><label for="username">Username:</label></div>
    <input id="username" type="text" name="username" th:value="*{username}" />
    <span class="formError" th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">Invalid username</span>

    <div><label for="password" th:value="*{password}">Password:</label></div>
    <input id="password" type="password" name="password" th:value="*{password}" />
    <span class="formError" th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Invalid password</span>

    <div><label for="rePassword" th:value="*{rePassword}">Re-Enter Password:</label></div>
    <input id="rePassword" type="password" name="password" th:value="*{rePassword}" />
    <span class="formError" th:if="${#fields.hasErrors('rePassword')}"
          th:errors="*{rePassword}">Passwords don't match!</span>

    <div><input type="submit" value="Submit"/>Submit</div>
</form>

<footer th:replace="layout :: site-footer" />

</body>

</html>
